* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, select, textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  background: #EFEFEF;
}

h1, h2, legend, button {
  font-family: 'Staatliches', cursive;
}

body::before {
  content: '';
  display: block;
  width: 100%;
  height: 436px;
  background-color: #535971;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.container {
  width: 750px;
  margin: 0 auto;
}

header {
  margin-top: 140px;
  margin-bottom: 58px;
}

header h1 {
  font-size: 48px;
  line-height: 60px;
  color: #FFFFFF;
}

header p {
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

form {
  background-color: #FFFFFF;
  border-radius: 20px 20px 0px 0px;
  padding: 64px;
}

fieldset {
  border: none;
  margin: 0;
}

fieldset legend {
  font-family: 'Staatliches';
  font-size: 24px;
  line-height: 34px;
  color: #535971;
  margin-bottom: 40px;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;

  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  color: #4E4958;
  margin-bottom: 8px;
}

.input-wrapper label span {
  font-family: 'Poppins';
  font-size: 12px;
  line-height: 20px;
  color: #C1BCCC;
}

.input-wrapper label span:hover{
  color: #4E4958;
}


.input-wrapper input {
  box-sizing: border-box;
  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
}

.col-2 {
  display: flex;
  gap: 22px;
}

.col-2 > div {
  width: 50%;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.fieldset-wrapper h2 {
  font-family: 'Staatliches';
  font-size: 20px;
  line-height: 34px;
  color: #535971;
  margin-bottom: 8px;
}

.col-3 {
  display: flex;
  gap: 10px;
}

.col-3 > div:nth-child(1) {
  width: 100%;
  margin-right: 22px;
}

footer {
  background: #535971;

  height: 160px;

  display: flex;
  flex-direction: column;

  padding: 50px 70px;

  margin-bottom: 366px;

  border-radius: 0px 0px 20px 20px;
}

footer .button {
  height: 55px;
  background: #FF5374;
  border-radius: 20px;
  padding: 15px 40px;

  border: none;
  text-align: center;

  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

footer .button:hover {
  background: #d73555;
}

input:invalid {
  border: 1px solid #FF1010;
}